<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Hi, I'm Luis Amor Alvarez a software developer based in Asturias, Spain." name='description'>
    <meta content='Luis Amor Álvarez' name='author'>

    <meta content='summary' name='twitter:card'>
    <meta content='@luiskywalker' name='twitter:site'>
    <meta content='@luiskywalker' name='twitter:creator'>

    <meta name="theme-color" content="#0275d8" />

    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Luis Amor Álvarez website" %></title>    

    <%= javascript_include_tag "site", :defer => "defer" %>
    
    <%= favicon_tag 'apple-touch-icon-144x144.png', :type => 'image/png', :sizes => '144x144', :rel => 'apple-touch-icon' %>    
    <%= favicon_tag 'apple-touch-icon-114x114.png', :type => 'image/png', :sizes => '114x114', :rel => 'apple-touch-icon' %>
    <%= favicon_tag 'apple-touch-icon-72x72.png', :type => 'image/png', :sizes => '72x72', :rel => 'apple-touch-icon' %>
    <%= favicon_tag 'apple-touch-icon.png', :type => 'image/png', :rel => 'apple-touch-icon' %>
    <%= favicon_tag 'favicon.png', :type => 'image/png', :rel => 'shortcut icon' %> 
    
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400" %>
    <%= stylesheet_link_tag "site" %>
  </head>
  <body>
    <%= yield %>

    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script src="https://www.googletagmanager.com/gtag/js?id=UA-107333609-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());
      gtag('config', 'UA-107333609-1');
    </script>
  </body>
</html>