---
title: Luis Amor Álvarez personal website. Software developer based in Asturias.
---
<section>
  <div class="container">
    <h1>Hi! I’m Luis Amor Álvarez.</h1>

    <p>I'm a <strong>Software Developer</strong> based in <%= link_to("Mieres", "https://es.wikipedia.org/wiki/Mieres", target: "_blank", title: "Mieres Wiki") %>
    (Asturias). I enjoy developing cool things on the web focusing on quality, maintainability and user experience. I've been developing web projects 
    since 2008, especially focused in Frontend development.</p>
    <p>At the moment I'm working at <%= link_to("Sngular",  "https://sngular.team/",  target: "_blank") %> as <strong>Frontend</strong> developer.</p>
  </div>
</section>

<section>
  <div class="container">
    <p>You can find me on:</p>
    <%= link_to(
      '<i class="fa fa-linkedin" aria-hidden="true"></i>',
      "https://www.linkedin.com/in/luisamoralvarez",
      target: "_blank", title: "Linkedin", class: "social-icons social-icons--linkedin"
    ) %>

    <%= link_to(
      '<i class="fa fa-twitter" aria-hidden="true"></i>',
      "https://twitter.com/luiskywalker",
      target: "_blank", title: "Twitter", class: "social-icons social-icons--twitter"
    ) %>
    
    <%= link_to(
      '<i class="fa fa-github" aria-hidden="true"></i>',
      "https://github.com/luisamor",
      target: "_blank", title: "Github", class: "social-icons social-icons--github"
    ) %>

    <%= link_to(
      '<i class="fa fa-stack-overflow" aria-hidden="true"></i>',
      "https://stackoverflow.com/users/1506334/luis-amor",
      target: "_blank", title: "Stack overflow", class: "social-icons social-icons--stack-overflow"
    ) %>

    <%= link_to(
      '<i class="fa fa-spotify" aria-hidden="true"></i>',
      "https://open.spotify.com/user/luis.amor",
      target: "_blank", title: "Spotify", class: "social-icons social-icons--spotify"
    ) %>
  </div>
</section>
 
 